.container {
  height: 100vh;
  background-color: #181818;
  overflow: hidden;
}
  .audio-controls {
      float: left;
      height: 100vh;
      display:flex;
      flex-direction: column;
  }

  button, button:focus{
    border: none;
    background: none;
    padding: 8px 0px;
    outline: -webkit-focus-ring-color none;
  }

  button.block {
      display: block;
  }

  .iframe-seamless {
      border: 0;
      width:100%; 
      padding:0; 
      border:0; 
      height:100vh;
      z-index: 1024;
  }

  .material-icons {
      color: #fff;
      font-size: 2.5em;
  }
  
  .muteButton, .muteButton:focus{
    background-color: #3E3E3E;
    width: 100%;
    height: 50px; 
  }

  .muteOff {
      color: #ddd6cb;
      text-shadow: 0 0 2px #ddd6cb;
  }

  .muteOn {
    color: #777;
  }

  .powerOff {
    color: #777;
  }
  .powerOn {
    text-shadow: 0 0 4px #00c2ff;
    color: #00c2ff;
  }

  .rotate {      
    transform:rotate(-90deg);
  }

  .spotify-controls {
      overflow: hidden;
      z-index: 1024;
  }

  .volumeSlider {
    flex:1;
    z-index: 0;
    height: 80vh;
  }

  .mat-slider-thumb-label {
    left: 10px !important;
  } 
  
  .mat-slider-thumb-label-text {
    transform: rotate(-135deg) !important;
  } 
  
  .mat-slider:not(.mat-slider-disabled).cdk-focused .mat-slider-thumb-label {    
    transform: rotate(135deg) !important;
  }

  .volumeWrapper {
      height: 100%;
  }
