/* You can add global styles to this file, and also import other style files */
.audio-controls {
    float: left;
    height: 480px;
    display:flex;
    flex-direction: column;
    max-height: 100%;
}

body {
    background-color: #222;
}

button.block {
    display: block;
}

.iframe-seamless {
    border: 0;
    width:100%; 
    padding:0; 
    border:0; 
    height:480px; 
}

.material-icons {
    color: #fff;
    font-size: 2.5em;
}

.spotify-controls {
    overflow: hidden;
}

.vertical-slider {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    min-width: 64px;
    width: 0px;
    flex:1;
    margin: 12px 0px;
}